$font-size-base: 18px;
$font-family: sans-serif;
$container-max-width: 1200px;

$primary: #623CEA;
$secondary: #E4C1F9;
$green: #4B5842;
$light: #B4C4AE;
$success: #76F7BF;
$danger: #E3170A;
$gray: #ADA8B6;

$transition-base: all 0.2s;
